.features {

    .feature-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6vw 10vw;
        max-width: 920px;
        margin: 0 auto;
        
        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
            gap: 7vw 7vw;
            padding-left: 0px;
            padding-right: 0px;
        }
    
    }

    .feature {
        text-align: center;

        &-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            margin-bottom: 30px;

            img {
                height: 100%;
                width: auto;
            }
        }
        
        &-title {
            font-family: $font-title;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 16px;
        }

        &-description {
            font-size: 1rem;
        }
    }
}