.quotes {
    
    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        max-width: 500px;

        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            max-width: 1320px;
        }

        &:first-child::before {
            content: url("/images/bg-quotes.png");
            transform: scale(0.7);
            position: absolute;
            z-index: 0;
            top: -7px;
            left: 20px;
            width: 60px;
            height: 45px;

            @include breakpoint-up(large) {
                top: 37px;
                left: 50px;
                width: 60px;
                height: 45px;
            }
        }
    }
    
    .quote {
        position: relative;
        background-color: $testimonialBg;
        padding: 30px 24px 24px 24px;
        border-radius: 5px;
        transform: 0;

        @include breakpoint-up(large) {
            padding: 44px 24px 24px 24px;
        }

        &__text {
            font-size: 0.65em;
            margin-bottom: 30px;
        }

        &__author {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-template-rows: 20px 20px;
            column-gap: 10px;
            align-items: center;


            &-image {
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }

            &-name {
                font-size: 0.5em;
                font-weight: 700;
            }

            &-title {
                font-size: 0.4em;
            }
        }

    }

}